.gradientContainer {
  position: relative;
}

.gradientContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 1px;
  background: conic-gradient(from 0deg, #ffffff, #313a3d, #ecedff, #3B96D1, #ecedff);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  transition: transform .5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotate(0deg);
  pointer-events: none;
}

.gradientContainer:hover::before {
  transform: rotate(180deg);
}

.innerShadow {
  background: #ffffff;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 60%, #3b95d14b);
}
